@font-face {
  font-family: 'Digital7';
  src: url('../assets/digital-7mono.ttf');
}

.counter {
  font-family: 'Digital7';
  font-size: 36pt;
  /* The Digital7 font doesn't seem to have the right
   * metadata or whatever so we need to set the div
   * height explicitely or it will be to short.
   */
  height: 42px;
}
